
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <h2>Обо мне</h2>
    <p>
        Кратко обо мне, зовут Кристофер, 20 лет, родился в деревне под названием New York.
        Являюсь студентом Оксфордского университета, учусь на "Процессорного владыку".
        Хочу уничтожить мир, создав пылесосы с ИИ и покарать всех во сне.
    </p>
</div>

