
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <h2>Контакты</h2>
    <strong>Почта:</strong> <a href="mailto:cybergenic@master.top">cybergenic@master.top</a>
    <br />
    <strong>Мобильный телефон:</strong> <a>+19992281488</a>
</div>