
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <h2>Образование</h2>
    <p>
        Средне специальное (Я гений, отвечаю)
    </p>
</div>

